<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
-->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="FTPSite" value="ftp://etgdevqa" />
    <add key="FTPUsername" value="administrator" />
    <add key="FTPPassword" value="p@ssw0rd" />
    <!--<add key="FTPSite" value="ftp://172.28.220.121" />
    <add key="FTPUsername" value="imanalo" />
    <add key="FTPPassword" value="P@ssw0rdFTP" />-->
    <add key="XMLPath" value="C:\DIS_Scheduler\Data" />
    <add key="DIRAutoPush" value="C:\DIS_Scheduler\DIRAutoPush\DIRList.csv" />
    <add key="EncryptPath" value="C:\DIS_Scheduler\Data" />
    <add key="DayDuration" value="7" />
    <add key="ExecuteHour" value="16" />
    <add key="Encrypt" value="true" />
    <add key="ReportPortValue" value=":57883/" />
    <add key="generateAutoPush" value="false" />
    <!--XML FOR DOWNLOAD-->
    <add key="Customer" value="true,CM" />
    <add key="Sales" value="true,SD" />
    <add key="TPM" value="false,TD" />
    <add key="Inventory" value="false,ID" />
    <add key="WholesaleCredit" value="false,WCD" />
    <add key="SalesForecast" value="false,SFD" />
    <!--military-time-->
    <add key="ExecuteMinute" value="00" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="SCHPassword" value="+password+" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="30000000" />
    <add key="Encoder Role" value="Dealer Encoder" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="enableSimpleMembership" value="false" />
    <add key="owin:AppStartup" value="SMB.DIS.Startup,SMB.DIS" />
    <add key="DIS_FENC" value="C:\AAADECRYPTING" />
    <add key="DefaultPassword" value="P@ssw0rd" />
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="IncludeAllCustomers" value="false" />
    <add key="NewDealer" value="true" />
    <add key="AssemblyVersion" value="4.2.9.5" />
    <add key="DBversion" value="1.0" />
    <add key="IpAddress" value="0.0.0.0" />
    <add key="EnableOutletTradeValue_CustomerMaster" value="True" />
    <!--On DEBUG mode, please use your local folder and edit permissions.-->
    <add key="BackupFolder_DEBUG" value="C:\\Test Backup Folder\" />
    <add key="RestoreFolder_DEBUG" value="C:\\Test Backup Folder\" />
    <add key="BackupFolder_DEBUG" value="C:\\Test Backup Folder\" />
    <add key="RestoreFolder_DEBUG" value="C:\\Test Backup Folder\" />
    <!--On RELEASE mode, the application will use this setting, -->
    <add key="BackupFolder" value="C:\DIS4.2\DBBackup\" />
    <add key="RestoreFolder" value="C:\DIS4.2\DBRestore\" />
    <add key="SellingDaysFolder" value="C:\DIS4.2\SellingDays\" />
    <add key="ExtractDSSRFolder" value="C:\DIS4.2\DSSR\" />
    <add key="ReportCSVFolder" value="C:\DIS4.2\ReportCSV\" />
    <add key="ReportViewerURL" value="http://localhost:82/ReportViewer" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
 
  <connectionStrings>
  
    <add name="DefaultConnection" connectionString="data source=.\MSSQLSERVER2016;initial catalog=SMB.DIS.SERVER;persist security info=True;user id=sa;password=beerdis2019;MultipleActiveResultSets=True;App=EntityFramework;Column Encryption Setting=enabled" providerName="System.Data.SqlClient" />
    <add name="SMBDISEntities" connectionString="data source=.\MSSQLSERVER2016;initial catalog=SMB.DIS.SERVER;persist security info=True;user id=sa;password=beerdis2019;MultipleActiveResultSets=True;App=EntityFramework;Column Encryption Setting=enabled" providerName="System.Data.SqlClient" />
  
  </connectionStrings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="X-UA-Compatible" value="IE=Edge" />
      </customHeaders>
    </httpProtocol>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <system.web>
    <globalization culture="en-US" uiCulture="en-US" />
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
    <compilation targetFramework="4.6">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </buildProviders>
      <assemblies>
        <add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="3000000" executionTimeout="3000000" />
    <authentication mode="Forms">
      <forms loginUrl="Account/Login" timeout="3000000" />
    </authentication>
    <sessionState timeout="500" mode="InProc" cookieless="false" />
  </system.web>
  <runtime>
    <NetFx40_LegacySecurityPolicy enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WebForms" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.0.1.0" newVersion="0.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
<!--ProjectGuid: {DC7DC19D-7AF2-40FD-AE7C-6922B6A7B4F3}-->